<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Info</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: lightblue;
	    color = white;
            padding: 20px;
        }
	h1, p {
	    color = white;
	}
    </style>
</head>
<body>
    <h1>Patient Information</h1>
    <ul>
        {% for patient in patients %}
        <li>
		<strong>{{ patient.name }} - {{ patient.id }} </strong><br>
		Height: {{ patient.height }} <br> 
		Weight: {{ patient.weight }} <br>
		SpO2: {{ patient.spo2 }} <br>
		Temperature: {{ patient.temp }} <br>
		Heart Rate: {{ patient.heartrate }} <br>
	</li>
        {% endfor %}
    </ul>
</body>
</html>
